.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80vh;
}

.projects__heading {
  background: hsl(250, 37%, 16%);
  width: 40vw;
  color: white;
  padding: 2rem;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  padding-left: 5rem;
}

.projects__container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: relative;
  }
}

.projects__project-img {
  height: 55vh;
  width: 50vw;
  z-index: 1;
}

.projects__left-arrow,
.projects__right-arrow {
  border: none;
  background: none;
  cursor: pointer;
  color: hsl(250, 37%, 16%);
}

.projects__left-arrow:hover,
.projects__right-arrow:hover {
  color: rgb(1, 109, 130);
}

.projects__background {
  position: absolute;
  z-index: -5;
  top: 0;
  width: 60vw;
  height: 80vh;
  background: rgb(1, 109, 130);
  background: linear-gradient(
    180deg,
    rgba(1, 109, 130, 1) 0%,
    rgba(1, 169, 188, 1) 50%,
    rgba(2, 205, 216, 1) 100%
  );
  border-top-right-radius: 10%;
}

.projects__name {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 1vh;
}

.projects__link-github {
  text-decoration: none;
  p {
    color: white;
  }
  strong {
    color: hsl(250, 37%, 16%);
  }
}
.projects__link-github:hover {
  p {
    color: hsl(250, 37%, 16%);
  }
  strong {
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .projects {
    background: rgb(1, 109, 130);
    background: linear-gradient(
      180deg,
      rgba(1, 109, 130, 1) 0%,
      rgba(1, 169, 188, 1) 50%,
      rgba(2, 205, 216, 1) 100%
    );
  }
  .projects__heading {
    background: none;
    padding-left: 2rem;
  }

  .projects__container {
    padding: 0 1rem;
  }
  .projects__project-img {
    height: 30vh;
    width: 80vw;
  }
}
